*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  height: 100vh;  
  font-family: "Roboto", sans-serif;
  font-weight: 400;            
}
header{
    background-color: gold;
    text-align: center;
    padding: 10px;
    width: 30vw;
    color: white;
}
main{
    width: 30vw;
}
footer{
    background-color: gold;
    text-align: center;
    padding: 10px;
    width: 30vw;
    color: white;
}